apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: apps-deployment
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/gabimirea/aks-platform-engineering.git
    targetRevision: main
    #path: gitops/apps/_empty
    path: gitops/apps/myapp
    directory:
      include: "{AKS1-CNPG-Operator-ArgoApp.yaml}"
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      allowEmpty: true
      prune: true
      selfHeal: true
